@import "../variables";

.grid {
  display: grid;
  grid-template-columns: 40px repeat(2,minmax(100px,2fr)) minmax(110px,3fr) minmax(70px,3fr) minmax(130px,3fr);
  grid-template-rows: 1fr;
  gap: 0 20px;
  grid-template-areas:
    "remove image image name price quantity";
  align-items: center;

 }

.gridTitle{
  @extend .grid;
  @media (max-width: 768px) {
    display: none;
  }
}

.gridItem{
  @extend .grid;
  padding: 20px 5px;
  @media (max-width: 768px) {
    gap: 0 10px;
    padding: 20px 0;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "remove image image name  name"
    "remove image image price quantity";
    grid-template-columns: minmax(20px,40px) repeat(2,50px) minmax(50px,3fr) minmax(130px,3fr);
  }
  @media (max-width: 425px) {
    grid-template-rows: repeat(3,1fr);
    grid-template-areas:
    "remove image image name  name"
    "remove image image price price"
    "remove image image quantity quantity";
    grid-template-columns: 20px repeat(2,50px) 70px 60px ;
  }
}
.items{
  margin: 20px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}
 %item-text-style{
   color: $main-color;
   word-break: break-all;
}

%title-text-style {
  color: $main-color;
  font-weight: 700;
  @media (max-width: 768px) {
    display: none;
  }
}

.remove{
  grid-area: remove;
  cursor: pointer;
  text-align: center;
  @media (max-width: 425px) {
    & > img{
      width: 20px;
    }
  }
}

.image{
  grid-area: image;
  text-align: center;
  &Item{
    @extend .image;
    @extend %item-text-style;
    @media (max-width: 768px) {
      & > img{
        max-width: 100px;
      }
    }
  }
}


.name{
  grid-area: name;
  &Item {
    @extend .name;
    @extend %item-text-style;
  }
  &Title{
    @extend .name;
    @extend %title-text-style;
  }
}


.price{
  grid-area: price;
  &Item{
    @extend .price;
    @extend %item-text-style;
    font-weight: 700;
  }
  &Title{
    @extend .price;
    @extend %title-text-style;

  }
}

.quantity{
  grid-area: quantity;
  align-items: center;
  justify-content: center;
  &Box{
    display: flex;
  }
  &Item{
    @extend .quantity;
    display: flex;
    & > div {
      display: inline;
    }
  }
  &Title{
    @extend .quantity;
    @extend %title-text-style;
  }

  &Button{
    background-color: $background-color-main;
    padding: 6px 11px;
    border: 1px solid $border-color;
    cursor: pointer;
    &:active{
      box-shadow: 0 0 3px 0 rgba(0,0,0,0.57) inset;
      -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.57) inset;
      -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.57) inset;
    }
    &:focus{
      outline: none;
    }
  }
  &Input{
    padding: 5px;
    text-align: center;
    width: 20px;
    &:active, &:focus{
      box-shadow: 0 0 3px 0 rgba(0,0,0,0.57) inset;
      -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.57) inset;
      -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.57) inset;
    }
    &:focus{
      outline: none;
    }
  }
  &Update{
    margin-left: 2px;
    position: relative;
    padding-top: 1px;
    cursor: pointer;
  }
}

.bottom{
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  box-sizing: border-box;
  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
  }
}
