$button-background-color: #050203;
$button-txt-color: #fff;
$button-hover-txt-color: #cbcbcb;

.button {
  background-color: $button-background-color;
  color: $button-txt-color;
  font-size: 16px;
  padding: 10px 15px;
  display: inline-block;
  font-weight: 700;
  border: none;
  width: inherit;
  &:hover {
    cursor: pointer;
    color: $button-hover-txt-color;
  }
  &:focus {
    outline: none;
  }
}
