@import "../variables";

.flexboxContainer {
  gap: 0 25px;
  display: flex;
  justify-content: space-between;
  row-gap: 10px;
  flex-wrap: wrap;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 20px 0;
  row-gap: 10px;
  flex-wrap: wrap;
}
.title {
  font-size: 24px;
  color: $main-color;
  text-transform: capitalize;
}

.button {
  @media (max-width: 425px) {
    width: 100%;
    padding: 0 10px;
  }
}

.message {
  text-align: center;
}
